# Ignore Rstudio project files
.Rproj.user
.Rhistory

# Ignore credential storage
.httr-oauth

# Ignore folders with private or irrelevant information
data/
docs/
img/
output/

# Ignore output files
*.html
*.pdf
*.doc*
*.tex
*.zip
*.xls*
*.log

# Ignore R scripts - have to explicitly add
*.R
